body {
  background-color: #333;
  background-image: linear-gradient(to bottom, #b5fde2, #fcd6d6);
  background-size: cover;
  background-repeat: no-repeat;
  background-attachment: fixed;
  font-family: 'MyCustomFont', sans-serif;
}
@font-face {
  font-family: 'MyCustomFont';
  src: url('mycustomfont.woff2') format('woff2'),
       url('mycustomfont.woff') format('woff');
}


